.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #023E8A;
}

.back-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #023E8A;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #0077B6;
}
